PUBLIC_APP_URL=https://alap-studio.vercel.app
RAZORPAY_KEY_ID=rzp_test_TcoozhjCTQ1522
RAZORPAY_KEY_SECRET=paste_your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=paste_your_razorpay_webhook_secret_here
FIREBASE_SERVICE_ACCOUNT_JSON=paste_full_firebase_service_account_json_here
FIREBASE_STORAGE_BUCKET=studio-b9a3b.appspot.com
